.message-board {
    min-height: 43vh;
}

.card.shopping-cart, .card.order-record, .card.user-data {
    min-height: auto;
}

.ps-modify td {
    border-top:0;
}

.price {
    color: #e53935;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 6px;
    font-weight: 700;
}

.hide {
    display: none;
}

.has-change {
    background-color: #28a745;
    color: white;
}
